1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 38px;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1;
}

p {
  margin-bottom: 0px;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.body {
  grid-auto-columns: auto;
  grid-column-gap: 8rem;
  grid-row-gap: 8rem;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  background-color: #2c353d;
  font-family: 'Source Code Pro', sans-serif;
  color: #eee;
  font-size: 1rem;
  line-height: 1.5;
}

.site {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-bottom: 8px solid #aaa;
}

.main {
  padding: 4rem 2rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.main_inner {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
}

.main_inner.is-wide {
  max-width: 1080px;
}

.header {
  z-index: 10;
  height: 4rem;
  padding: 0rem 1.5rem;
}

.header_inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.header_logo {
  height: 2rem;
  margin-right: 2rem;
  cursor: pointer;
}

.nav_links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 2rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.nav_link {
  padding: 0.5rem 1rem;
  color: #ccc;
  cursor: pointer;
}

.nav_link:hover {
  color: #fff;
}

.nav_link.is-current {
  opacity: 1;
  color: #eee;
  font-weight: 600;
}

.nav_link.pseudo-before {
  display: none;
}

.h1 {
  margin-bottom: 2rem;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 1.5rem;
}

.p {
  margin-bottom: 1.5rem;
}

.nav_account {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 2.5rem;
  min-width: 2.5rem;
  padding-right: 1.3rem;
  padding-left: 1.5rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #317c8c;
  color: #eee;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 600;
  cursor: pointer;
}

.button:hover {
  background-color: #368899;
}

.button.is-ghost {
  border-style: solid;
  border-width: 2px;
  border-color: #317c8c;
  background-color: transparent;
  font-weight: 400;
}

.button.is-ghost:hover {
  border-color: #368899;
  background-color: rgba(49, 124, 140, 0.2);
}

.button.hack-fa {
  padding-right: 0rem;
  padding-left: 0rem;
  font-family: 'Fa solid 900', sans-serif;
  font-size: 1rem;
}

.button.is-danger {
  background-color: #db3939;
}

.button.is-danger:hover {
  background-color: #e64545;
}

.button.is-text {
  background-color: transparent;
  color: #ccc;
  font-weight: 400;
}

.button.is-text:hover {
  color: #fff;
}

.button.is-big {
  min-height: 5rem;
  min-width: 5rem;
  padding-right: 3rem;
  padding-left: 3rem;
  font-size: 2rem;
}

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.nav_backdrop {
  display: none;
}

.header_burger {
  display: none;
  cursor: pointer;
}

.h2 {
  margin-bottom: 1rem;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 1rem;
}

.h3 {
  font-size: 1rem;
  font-weight: 700;
}

.input_label {
  position: absolute;
  top: 0.75rem;
  margin-bottom: 0px;
  padding: 0.5rem 1rem;
  color: hsla(0, 0%, 100%, 0.5);
  line-height: 1;
  font-weight: 400;
}

.input_label.hack-filled {
  top: 0rem;
  padding-left: 1.125rem;
  font-size: 0.75rem;
}

.input_label.hack-filled.hack-focus {
  color: #5ab9a8;
}

.input_field {
  height: 3.5rem;
  margin-bottom: 0px;
  padding: 1rem 1rem 0px;
  border-style: none none solid solid;
  border-color: #000 #000 hsla(0, 0%, 100%, 0.5) hsla(0, 0%, 100%, 0.5);
  border-bottom-width: 2px;
  border-left-width: 2px;
  background-color: #373e47;
  color: #eee;
}

.input_field:focus {
  border-bottom-color: #5ab9a8;
  border-left-color: #5ab9a8;
}

.input_field.hack-value::-webkit-input-placeholder {
  color: #eee;
  font-size: 1rem;
  font-weight: 400;
}

.input_field.hack-value:-ms-input-placeholder {
  color: #eee;
  font-size: 1rem;
  font-weight: 400;
}

.input_field.hack-value::-ms-input-placeholder {
  color: #eee;
  font-size: 1rem;
  font-weight: 400;
}

.input_field.hack-value::placeholder {
  color: #eee;
  font-size: 1rem;
  font-weight: 400;
}

.input_field.hack-value.hack-focus {
  border-bottom-color: #5ab9a8;
  border-left-color: #5ab9a8;
}

.input_field.hack-value.hack-focus::-webkit-input-placeholder {
  font-size: 1rem;
  font-weight: 400;
}

.input_field.hack-value.hack-focus:-ms-input-placeholder {
  font-size: 1rem;
  font-weight: 400;
}

.input_field.hack-value.hack-focus::-ms-input-placeholder {
  font-size: 1rem;
  font-weight: 400;
}

.input_field.hack-value.hack-focus::placeholder {
  font-size: 1rem;
  font-weight: 400;
}

.input_field.hack-value.is-area {
  padding-top: 1.5rem;
}

.input_field.is-labelhidden {
  height: 2.5rem;
  padding-top: 0rem;
}

.input_field.is-area {
  height: auto;
  min-height: 12rem;
}

.form {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: auto;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.input {
  position: relative;
}

.form-block {
  margin-bottom: 0px;
}

.alert {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 4rem 1rem 1rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #ffc573;
  background-color: rgba(251, 150, 0, 0.08);
  color: #ffc573;
}

.alert.is-success {
  border-color: #317c8c;
  background-color: rgba(49, 124, 140, 0.12);
  color: #c4f0c2;
}

.alert_pseudo-before {
  position: absolute;
  right: 1rem;
  font-family: 'Fa solid 900', sans-serif;
  font-size: 1.5rem;
}

.a {
  color: #c4f0c2;
  font-weight: 400;
  text-decoration: underline;
}

.a:hover {
  text-decoration: none;
}

.footer {
  padding: 1.5rem;
  border-top: 1px solid hsla(0, 0%, 100%, 0.2);
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.2);
  font-size: 0.75rem;
  font-weight: 300;
}

.footer_inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.div-block-2 {
  display: inline-block;
  font-family: 'Fa brands 400', sans-serif;
}

.text-block-2 {
  display: inline-block;
}

.tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
  margin-left: -1rem;
}

.tabs_item {
  padding: 1rem;
  color: #ccc;
  cursor: pointer;
}

.tabs_item:hover {
  color: #fff;
}

.tabs_item.is-current {
  opacity: 1;
  color: #eee;
  font-weight: 600;
}

.inputandbutton {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr auto;
  grid-template-columns: 1fr auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.actionsbar {
  display: -ms-grid;
  display: grid;
  margin-bottom: 1.5rem;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.div-block-3 {
  height: 50px;
}

.item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #373e47;
}

.item.pseudo-nth-even {
  background-color: #2c353d;
}

.item_thumb {
  height: 100%;
  border-style: solid;
  border-width: 0.25rem;
  border-color: #c4f0c2;
}

.item_title {
  margin-bottom: 0.25rem;
  font-weight: 700;
}

.item_sub {
  font-size: 0.75rem;
  font-weight: 300;
}

.items {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: auto;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.item_text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 1rem;
  padding-left: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.item_actions {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.item_actionicon {
  margin-bottom: 0.25rem;
  font-family: 'Fa solid 900', sans-serif;
}

.item_actionlabel {
  font-size: 0.75rem;
  font-weight: 300;
}

.item_action {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 5rem;
  height: 5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  color: #ccc;
  cursor: pointer;
}

.item_action:hover {
  color: #fff;
}

.item_infos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 5rem;
  margin-right: 1rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  cursor: pointer;
}

.item_toggle {
  display: none;
}

.div-block-4 {
  height: 4rem;
}

.notice {
  display: -ms-grid;
  display: grid;
  padding: 4rem;
  justify-items: center;
  grid-auto-columns: auto;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-style: dashed;
  border-width: 1px;
  border-color: #373e47;
  font-size: 1.25rem;
  text-align: center;
}

.fas {
  display: inline-block;
  font-family: 'Fa solid 900', sans-serif;
}

.text-block-4 {
  display: inline-block;
}

.nav_accountdash {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #ccc;
  cursor: pointer;
}

.nav_accountdash:hover {
  color: #fff;
}

.footer_link {
  color: #ccc;
  cursor: pointer;
}

.footer_link:hover {
  color: #fff;
}

.image-2 {
  margin-top: 88px;
}

.pixelswrap {
  position: relative;
  padding-bottom: 100%;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: #c4f0c2;
}

.editor_pixels {
  display: -ms-grid;
  display: grid;
  width: 640px;
  height: 640px;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  border-style: solid;
  border-width: 2rem;
  border-color: #c4f0c2;
}

.editor_pixel {
  padding: 1px;
  cursor: crosshair;
}

.editor_pixel:hover {
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0.1)), to(hsla(0, 0%, 100%, 0.1)));
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.1), hsla(0, 0%, 100%, 0.1));
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.editor_pixel.is-gb3 {
  background-color: #1f1f1f;
}

.editor_pixel.is-gb2 {
  background-color: #317c8c;
}

.editor_pixel.is-gb1 {
  background-color: #5ab9a8;
}

.editor_pixel.is-gb0 {
  background-color: #c4f0c2;
}

.editor {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.editor_ui {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: auto;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.editor_colors {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-auto-flow: column;
  grid-auto-columns: 4rem;
  grid-auto-rows: 4rem;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  -ms-grid-columns: 4rem;
  grid-template-columns: 4rem;
  -ms-grid-rows: 4rem;
  grid-template-rows: 4rem;
}

.editor_color {
  border-style: solid;
  border-width: 2px;
  border-color: hsla(0, 0%, 100%, 0.5);
  border-radius: 8px;
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  cursor: pointer;
}

.editor_color:hover {
  border-color: #fff;
}

.editor_color.is-current {
  border-color: #fff;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.editor_color.is-gb0 {
  background-color: #c4f0c2;
}

.editor_color.is-gb1 {
  background-color: #5ab9a8;
}

.editor_color.is-gb2 {
  background-color: #317c8c;
}

.editor_color.is-gb3 {
  background-color: #1f1f1f;
}

.editor_actions {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-auto-flow: column;
  grid-auto-columns: 4rem;
  grid-auto-rows: 4rem;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  -ms-grid-columns: 4rem;
  grid-template-columns: 4rem;
  -ms-grid-rows: 4rem;
  grid-template-rows: 4rem;
}

.editor_action {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Fa solid 900', sans-serif;
  color: #ccc;
  font-size: 2rem;
  cursor: pointer;
}

.editor_action:hover {
  color: #fff;
}

.editor_action.attr-disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.textarea_field {
  min-height: 12rem;
  margin-bottom: 0px;
  padding: 1rem 1rem 0px;
  border-style: none none solid solid;
  border-color: #000 #000 hsla(0, 0%, 100%, 0.5) hsla(0, 0%, 100%, 0.5);
  border-bottom-width: 2px;
  border-left-width: 2px;
  background-color: #373e47;
  color: #eee;
  line-height: 1;
}

.textarea_field:focus {
  border-bottom-color: #5ab9a8;
  border-left-color: #5ab9a8;
}

.textarea_field.hack-value::-webkit-input-placeholder {
  color: #eee;
  font-size: 1rem;
  font-weight: 400;
}

.textarea_field.hack-value:-ms-input-placeholder {
  color: #eee;
  font-size: 1rem;
  font-weight: 400;
}

.textarea_field.hack-value::-ms-input-placeholder {
  color: #eee;
  font-size: 1rem;
  font-weight: 400;
}

.textarea_field.hack-value::placeholder {
  color: #eee;
  font-size: 1rem;
  font-weight: 400;
}

.textarea_field.hack-value.hack-focus {
  border-bottom-color: #5ab9a8;
  border-left-color: #5ab9a8;
}

.textarea_field.hack-value.hack-focus::-webkit-input-placeholder {
  font-size: 1rem;
  font-weight: 400;
}

.textarea_field.hack-value.hack-focus:-ms-input-placeholder {
  font-size: 1rem;
  font-weight: 400;
}

.textarea_field.hack-value.hack-focus::-ms-input-placeholder {
  font-size: 1rem;
  font-weight: 400;
}

.textarea_field.hack-value.hack-focus::placeholder {
  font-size: 1rem;
  font-weight: 400;
}

.textarea_field.is-labelhidden {
  height: 2.5rem;
  padding-top: 0rem;
}

.editor_formclose {
  display: none;
}

.drawings {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.drawing {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.drawing_img {
  width: 100%;
  border-style: solid;
  border-width: 1rem;
  border-color: #c4f0c2;
}

.drawing_info {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
}

.drawing_info.pseudo-parenthover {
  position: absolute;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.drawing_info.pseudo-nothover {
  display: none;
}

.drawingsingle {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 24rem;
  margin-bottom: 2rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #000;
}

.drawingsingle_img {
  height: 100%;
  border-style: solid;
  border-width: 2rem;
  border-color: #c4f0c2;
}

.subline {
  position: relative;
  top: -1.5rem;
  font-size: 0.75rem;
  font-weight: 300;
}

.hr {
  margin-right: -1.5rem;
  margin-bottom: 15px;
  margin-left: -1.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 0 0 hsla(0, 0%, 100%, 0.2);
}

.spacer {
  height: 4rem;
}

.drawingsingle_edit {
  position: absolute;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  color: #ccc;
  cursor: pointer;
}

.drawingsingle_edit:hover {
  color: #fff;
}

.text-block-5 {
  font-family: 'Fa solid 900', sans-serif;
}

.text-block-6 {
  font-family: 'Fa solid 900', sans-serif;
}

.modal {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: none;
  padding: 1.5rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal.is-open {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.modal_inner {
  position: relative;
  max-width: 640px;
  padding: 1.5rem;
  background-color: #2c353d;
}

.modal_title {
  margin-right: 1.5rem;
  margin-bottom: 2rem;
  font-weight: 600;
}

.modal_text {
  margin-bottom: 1.5rem;
}

.modal_actions {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: end;
  -webkit-justify-content: end;
  -ms-flex-pack: end;
  justify-content: end;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.modal_close {
  position: absolute;
  top: 0px;
  right: 0px;
  margin-top: 1rem;
  margin-right: 1rem;
  padding: 0.5rem;
  font-family: 'Fa solid 900', sans-serif;
  color: #ccc;
  cursor: pointer;
}

.modal_close:hover {
  color: #fff;
}

.text-block-7 {
  display: inline-block;
  font-family: 'Fa solid 900', sans-serif;
}

.text-block-8 {
  display: inline-block;
}

.div-block-5 {
  text-align: center;
}

.error-copy {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 4rem 1rem 1rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #317c8c;
  background-color: rgba(49, 124, 140, 0.12);
  color: #c4f0c2;
}

.backtotop {
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 1rem;
  font-family: 'Fa solid 900', sans-serif;
  color: #ccc;
  font-size: 1.5rem;
  cursor: pointer;
}

.backtotop:hover {
  color: #fff;
}

.fileinput {
  position: relative;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.fileinput_button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.fileinput_preview {
  width: 100%;
  margin-bottom: 1rem;
  padding-bottom: 50%;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png');
  background-position: 0px 0px;
  background-size: 125px;
}

.fileinput_label {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 80vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/vanta.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero_logo {
  height: 4rem;
}

.div-block-6 {
  position: relative;
  padding: 1.5rem 1.5rem 6rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.hero_link {
  display: inline;
  font-size: 8rem;
  text-decoration: underline;
  cursor: pointer;
}

.hero_link:hover {
  text-decoration: none;
}

.hero_title {
  font-size: 4rem;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.text-block-9 {
  display: inline-block;
}

.text-block-9-copy {
  display: block;
}

.hero_and {
  display: inline;
}

.hero_more {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero_more-pseudo {
  height: 1px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #5ab9a8;
  box-shadow: 0 0 4px 0 #317c8c;
}

.join_ctatext {
  padding: 2rem;
  font-family: 'Source Code Pro', sans-serif;
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.section {
  padding: 4rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: rgba(0, 0, 0, 0.2);
}

.section.is-alt {
  background-color: rgba(0, 0, 0, 0.1);
  text-align: right;
}

.section_title {
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.section_text {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.section_img {
  display: inline-block;
}

.sections {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.sections_pseudo {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.sections_pseudo.is-alt {
  background-color: rgba(0, 0, 0, 0.1);
}

.section_inner {
  max-width: 600px;
  margin-left: auto;
}

.section_inner.is-alt {
  margin-right: auto;
  margin-left: 0px;
}

.join {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10rem;
  padding-bottom: 10rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: rgba(0, 0, 0, 0.3);
}

.join_cta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}

.join_cta-pseudo {
  height: 1px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #5ab9a8;
  box-shadow: 0 0 4px 0 #317c8c;
}

.hero_moretext {
  padding: 2rem;
  font-family: 'Press Start 2P', sans-serif;
  color: #ccc;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.hero_moretext:hover {
  color: #fff;
}

.info {
  padding: 4rem;
  background-color: rgba(0, 0, 0, 0.2);
}

.info_inner {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  font-size: 1.25rem;
}

@media (max-width: 991px) {
  .header {
    display: none;
  }
  .header.hack-loggedin {
    display: none;
  }
  .header_inner {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    grid-auto-columns: 1fr;
  }
  .nav_links {
    display: block;
    margin-right: 0px;
    margin-bottom: 1.5rem;
  }
  .nav_link {
    padding: 1rem 1.5rem;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 0 0 hsla(0, 0%, 100%, 0.2);
    opacity: 1;
    color: #eee;
    font-size: 1.5rem;
    text-align: right;
  }
  .nav_link.is-current {
    font-weight: 400;
  }
  .nav_link.pseudo-before {
    display: block;
    padding: 0rem;
  }
  .h1.is-lgonly {
    display: none;
  }
  .nav_account {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    grid-auto-flow: row;
  }
  .nav {
    position: fixed;
    top: 4rem;
    right: 0px;
    bottom: 0px;
    display: none;
    width: 320px;
    background-color: #2c353d;
  }
  .nav.is-open {
    display: block;
  }
  .nav_backdrop {
    position: fixed;
    left: 0px;
    top: 4rem;
    right: 320px;
    bottom: 0px;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .header_burger {
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: -1.5rem;
    padding: 1rem 1.5rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Fa solid 900', sans-serif;
    font-size: 1rem;
    font-weight: 400;
  }
  .nav_accountdash {
    border-style: solid;
    border-width: 2px;
    border-color: hsla(0, 0%, 100%, 0.5);
    color: #eee;
    text-align: center;
  }
  .editor {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }
  .editor_form {
    display: none;
  }
  .editor_form.is-open {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    display: block;
    padding: 1.5rem;
    background-color: #2c353d;
  }
  .editor_formclose {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 3rem;
    height: 3rem;
    margin-bottom: 1.5rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Fa solid 900', sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .drawing_info {
    display: none;
  }
  .hero_link {
    font-size: 6rem;
  }
  .hero_title {
    font-size: 3rem;
  }
  .join_ctatext {
    font-size: 3rem;
  }
  .section {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .section_title {
    font-size: 3rem;
  }
  .sections {
    display: block;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .section_inner {
    margin-right: auto;
  }
  .section_inner.is-alt {
    margin-left: auto;
  }
}

@media (max-width: 479px) {
  .main {
    padding: 1.5rem;
  }
  .nav.is-open {
    display: none;
  }
  .alert {
    display: block;
    padding-right: 1rem;
  }
  .alert.is-success {
    text-align: center;
  }
  .alert_pseudo-before {
    position: static;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    text-align: center;
  }
  .footer {
    line-height: 2;
  }
  .footer_inner {
    display: block;
  }
  .actionsbar {
    grid-auto-flow: row;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }
  .item {
    position: relative;
    display: block;
  }
  .item_actions {
    display: none;
  }
  .item_actions.is-open {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .item_toggle {
    position: absolute;
    top: 0rem;
    right: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 3rem;
    height: 5rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Fa solid 900', sans-serif;
    cursor: pointer;
  }
  .item_toggle:hover {
    color: #c4f0c2;
  }
  .notice {
    padding: 1rem;
    font-size: 1rem;
  }
  .editor_pixels {
    width: 272px;
    height: 272px;
    border-width: 1rem;
  }
  .editor_colors {
    grid-auto-columns: 3rem;
    grid-auto-rows: 3rem;
    -ms-grid-columns: 3rem;
    grid-template-columns: 3rem;
    -ms-grid-rows: 3rem;
    grid-template-rows: 3rem;
  }
  .editor_actions {
    grid-auto-columns: 3rem;
    grid-auto-rows: 3rem;
    -ms-grid-columns: 3rem;
    grid-template-columns: 3rem;
    -ms-grid-rows: 3rem;
    grid-template-rows: 3rem;
  }
  .editor_action {
    font-size: 1.5rem;
  }
  .drawings {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .drawing_info.pseudo-parenthover {
    display: none;
  }
  .drawingsingle {
    height: auto;
  }
  .drawingsingle_img {
    width: 100%;
    height: auto;
  }
  .drawingsingle_edit {
    left: 0px;
    padding: 0.5rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.9);
  }
  .error-copy {
    display: block;
    padding-right: 1rem;
  }
  .hero_logo {
    height: 3rem;
  }
  .hero_link {
    font-size: 4rem;
  }
  .hero_title {
    font-size: 2rem;
  }
  .hero_and {
    display: block;
  }
  .join_ctatext {
    font-size: 2rem;
  }
  .hero_sub {
    margin-top: 1rem;
  }
  .section {
    padding: 2rem;
  }
  .section_title {
    font-size: 2rem;
  }
  .section_text {
    font-size: 1rem;
  }
  .info {
    padding: 2rem;
  }
  .info_inner {
    font-size: 1rem;
  }
}

@media screen and (max-width: 991px) {
  #w-node-8615aca485c6-d9aabc3d {
    -ms-grid-column-align: center;
    justify-self: center;
  }
}

@media screen and (max-width: 479px) {
  #w-node-3705b67cbdcf-d9aabc3d {
    -webkit-box-ordinal-group: -9998;
    -webkit-order: -9999;
    -ms-flex-order: -9999;
    order: -9999;
  }
}

@font-face {
  font-family: 'Fa solid 900';
  src: url('../fonts/fa-solid-900.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Fa brands 400';
  src: url('../fonts/fa-brands-400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fa 400';
  src: url('../fonts/fa-regular-400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
