/* hero */
/******************************************************************************/
.hero {
  position: relative;
  display: flex;
  min-height: calc(100vh - var(--headerHeight));
  padding-top: 1rem;
  padding-bottom: 6rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
    url("./city.png");
  background-position: 0 0, 50% 50%;
  background-size: auto, cover;
}

.hero_logo {
  height: 4rem;
}

.hero_title {
  font-size: 4rem;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.hero_link {
  display: inline;
  font-size: 8rem;
  text-decoration: underline;
}
.hero_link:hover,
.hero_link:focus {
  text-decoration: none;
}

.hero_sub {
  display: block;
}

.hero_more {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}
/* lines left and right */
.hero_more::before,
.hero_more::after {
  content: "";
  height: 1px;
  flex: 1;
  background-color: var(--gb1);
  box-shadow: 0 0 4px 0 var(--gb2);
}

.hero_moreText {
  padding: 2rem;
  font-family: var(--fontSpecial);
  color: var(--whiteDark);
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}
.hero_moreText:hover,
.hero_moreText:focus {
  color: var(--whiteLight);
}

@media (max-width: 991px), (max-height: 720px) {
  .hero {
    /* less than 100vh to account for browser bar on mobile devices */
    min-height: calc(90vh - var(--headerHeight));
  }
  .hero_link {
    font-size: 6rem;
  }

  .hero_title {
    font-size: 3rem;
  }
}

@media (max-width: 479px) {
  .hero_logo {
    height: 3rem;
  }
  .hero_link {
    font-size: 4rem;
  }
  .hero_title {
    font-size: 2rem;
  }
  .hero_and {
    display: block;
  }
  .hero_sub {
    margin-top: 1rem;
  }
}

/* sections */
/******************************************************************************/
.sections {
  display: flex;
}

@media (max-width: 991px) {
  .sections {
    display: block;
  }
}

/* section */
/******************************************************************************/
.section {
  padding: 4rem;
  flex: 1;
  background-color: rgba(0, 0, 0, 0.2);
}
.section.is-alt {
  background-color: rgba(0, 0, 0, 0.1);
  text-align: right;
}

.section_title {
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.section_text {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.section_img {
  max-width: 100%;
  display: inline-block;
}

.section_inner {
  max-width: 600px;
  margin-left: auto;
}
.section_inner.is-alt {
  margin-right: auto;
  margin-left: 0;
}

@media (max-width: 991px) {
  .section {
    align-items: flex-start;
  }
  .section_title {
    font-size: 3rem;
  }
  .section_inner {
    margin-right: auto;
  }
  .section_inner.is-alt {
    margin-left: auto;
  }
}

@media (max-width: 479px) {
  .section {
    padding: 2rem;
  }
  .section_title {
    font-size: 2rem;
  }
  .section_text {
    font-size: 1rem;
  }
}

/* join */
/******************************************************************************/
.join {
  display: flex;
  padding-top: 10rem;
  padding-bottom: 10rem;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.join_cta {
  display: flex;
  align-items: center;
  align-self: stretch;
}
/* lines left and right */
.join_cta::before,
.join_cta::after {
  content: "";
  height: 1px;
  flex: 1;
  background-color: var(--gb1);
  box-shadow: 0 0 4px 0 var(--gb2);
}

.join_ctaText {
  padding: 2rem;
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 991px) {
  .join_ctaText {
    font-size: 3rem;
  }
}

@media (max-width: 479px) {
  .join_ctaText {
    font-size: 2rem;
  }
}

/* info */
/******************************************************************************/
.info {
  padding: 8rem;
  background-color: rgba(0, 0, 0, 0.2);
}

.info_inner {
  max-width: 960px;
  margin: 0 auto;
  font-size: 1.25rem;
}

@media (max-width: 479px) {
  .info {
    padding: 4rem 2rem;
  }

  .info_inner {
    font-size: 1rem;
  }
}

/* anchor */
/******************************************************************************/
.anchor {
  position: relative;
  bottom: var(--headerHeight);
}
